* {
box-sizing: border-box;
  }

body {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 750px;
}

#container {
display: flex;
flex-wrap: wrap;
}

#container > div {
}

#container > #divcube {

}

.gridbutton {
    width: 100px;
    margin: 20px;
}